.main {
    margin: 0 auto;
    max-width: 1800px;
    padding-top: 6.5rem;
    padding: 3rem;
}

.header {
    line-height: 17px;
}

.number {
    line-height: 17px;
}

.image {
    width: 1286px;
    height: 600px;
}

.button {
    padding-top: 3.5rem;
}