.main {
    margin: 0 auto;
    max-width: 1800px;
    padding-top: 6.5rem;
}

.button {
    display: inline-block;
    border-radius: 10px;
    background-color: #fa673a;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 16px;
    padding: 14px 10px;
    width: 150px;
    transition: all 0.5s;
    cursor: pointer;
    margin-top: 20px;
    margin-right: 1rem;
}

.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.button:hover span {
    color: rgb(217, 215, 215);
    padding-right: 25px;
}

.button:hover span:after {
    opacity: 1;
    right: 0;
}

.category {
    border-radius: 10px;
}