header nav {
    display: flex;
    gap: 16px;
    justify-content: flex-end;
    max-width: 1200px;
    margin: 0 auto;
}

header nav h1{
    margin-right: auto;
    border-bottom: 3px solid var(--primary);
}

header nav a{
    text-decoration: none;
    padding: 6px;
    border-radius: 4px;
    color: black
}

header nav a.active {
background: var(--primary);
}