.listingContainer {
    display: flex;
    overflow-x: auto;
}

.listing {
    flex: 0 0 auto;
    width: 300px;
    height: 350px;
    /* align-items: center; */
    overflow: hidden;
}

.image {
    border-radius: 20px;
    width: auto;
    height: 80%;
    
    
}

.location {
    font-size: 15px;
    color: #6c757d;
}
