.title h1 {
    margin: 0 auto;
    font-size: 24px;
}

.listingContainer {
    display: flex;
    overflow-x: auto;
}

.listing {
    flex: 0 0 auto;
    width: 270px;
    height: 320px;
    /* align-items: center; */
    overflow: hidden;
}

.image {
    border-radius: 20px;
    width: auto;
    height: 80%;
}

.location {
    font-size: 15px;
    color: #6c757d;
}
